/* Main Layout
***************************************************************************************************/

html {
    background: #f7f7f7;
    font-size: 1.1em;
}

body {
    width: 500px;
    background: #fff;
    margin: 2em auto;
    border: 3px solid #353535;
    border-radius: 5px;
    padding: 0em 1.5em;
}

/* Typography
***************************************************************************************************/
#title {
    background: url("../images/icon-64.png") center left no-repeat;
    background-size: contain;
    padding-left: 1.5em;
}

h1 {
    color: #353535;
    background: url("../images/icon-64.png") center left no-repeat;
    background-size: contain;
    padding-left: 1.5em;
    font-size: 1.7em;
}

h2 {
    margin-bottom: 0.1em;
    color: #06ac38;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: -0.2em;
}

/* Inputs
***************************************************************************************************/
input[type=text],
input[type=number] {
    margin-bottom: 3px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 0px;
    padding: 0.4em;
    font-family: inherit;
    width: 95%;

    -webkit-transition: all 0.2s ease-in-out;
}

input#account-subdomain {
    width: 10em;
}
input#api-key {
    width: 13em;
    margin-right: .5em;
}

input.bad {
    border: 1px solid #f00;
}

input[type=text] {
    font-family: monospace;
    font-size: 1.3em;
}

input[type=number] {
    width: 4em;
}

input[type=text]:hover,
input[type=number]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
}

input[type=text]:focus,
input[type=number]:focus {
    outline: none;
    border: 1px solid #888;
    box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.4);
    border-radius: 2px;
}

input::placeholder {
    color: #bbb;
}

button {
    padding: 5px 12px;
    font-size: 1.1em;
    border-radius: 4px;
    cursor: pointer;

    border: 1px solid #767676;
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
    background: #fff;
    color: #555;
}

button:active {
    border: 1px solid #363636;
    background: #f3f3f3;
    box-shadow: none;
    color: #363636;
}

button:hover {
    border: 1px solid #767676;
    background: #f3f3f3;
}

button#save {
    float: right;

    border: 1px solid transparent;
    background: #06ac38;
    color: #fff;
}

button#save:active {
    border: 1px solid #2f8b48;
    background: #22a648;
    box-shadow: 0 0 4px #06ac38;
}

button#save:hover {
    background: #22a648;
}

/* Options
***************************************************************************************************/
p {
    line-height: 1.2em;
}

.option {
    display: block;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.option label {
    display: block;
    text-align: left;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.info {
    display: block;
    color: #aaa;
    font-style: italic;
    padding-top: 0.3em;
}

.required {
    color: #f00;
}

hr {
    border: none;
    height: 3px;
    background: #353535;
    width: calc(100% + 3em);
    margin-left: -1.5em;
}

.notice {
    display: block;
    background: #157ee0;
    padding: 1em 1.5em;
    margin-bottom: 1em;
    width: 100%;
    margin-left: -1.5em;
    color: #fff;
}

.option.checkbox {
  margin-bottom: -.7em;
}

.option.checkbox label {
    padding-left: 1.8em;
    padding-bottom: 0em;
    margin-bottom: -1.25em;
}

.option.select label {
    display: inline;
}

span.ack {
    background: url("../images/icon-acknowledge.png") center left no-repeat;
    background-size: 1.2em 1.2em;
    padding-left: 1.2em;
    color: #f8991c;
}

span.resolve {
    background: url("../images/icon-resolve.png") center left no-repeat;
    background-size: 1.2em 1.2em;
    padding-left: 1.2em;
    color: #06ac38;
}

#badge-example {
    margin-bottom: -0.5em;
    margin-left: 0.2em;
}

/* Saved Popup
***************************************************************************************************/

#saved {
    position: fixed;
    top: 0.5em;
    left: 50%;
    width: 13em;
    height: 2.2em;
    margin-left: -6em;
    background: #06ac38;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    opacity: 0;

    -webkit-transition: all 0.2s ease-in-out;
}

#saved p {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 0.5em;
}

#saved.saved {
    opacity: 1;
}

/* API Validation
***************************************************************************************************/

#api-validate{
    position: absolute;
    padding: 0.3em 0.4em 0.4em 0.4em;
    width: 5em;
}

#access-status {
    position: relative;
    margin-left: 9.7em;
    margin-top: -2em;
    margin-bottom: 0.1em;
    height: 1em;
    float: left;
    border-radius: 3px;
    padding: 0.1em 0.5em 0.5em 0.5em;
    font-weight: bold;
    color: #fff;
    font-size: 1em;
    text-align: left;
}

#access-status.ok {
    background: #06ac38;
}

#access-status.ko {
    background: #c62818;
}

#access-status.warn {
    background: #f8991c;
}

#access-status.loading {
    background: #fff;
    border-radius: 50px;
    border: 1px solid #06ac38;
    width: 15px;
    height: 15px;
    padding: 0px;
    border-color: transparent #06ac38 #06ac38 #06ac38;

    -webkit-animation: 'rotate' 1s infinite linear;
    animation: 'rotate' 1s infinite linear;
}
@-webkit-keyframes 'rotate' {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes 'rotate' {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
