/* Main Layout
***************************************************************************************************/
body {
    margin: 1em;
}

/* Typography
***************************************************************************************************/
#title {
    background: url("../images/icon-64.png") center left no-repeat;
    background-size: contain;
    padding-left: 1.5em;
}

h2 {
    margin-bottom: 0.1em;
    color: #47ba04;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: -0.2em;
}

/* Inputs
***************************************************************************************************/
input[type=text],
input[type=number] {
    margin-bottom: 3px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 0px;
    padding: 0.4em;
    font-family: inherit;

    -webkit-transition: all 0.2s ease-in-out;
}

input.bad {
    border: 1px solid #f00;
}

input[type=text] {
    font-family: monospace;
    font-size: 1.3em;
}

input[type=number] {
    width: 4em;
}

input[type=text]:hover,
input[type=number]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
}

input[type=text]:focus,
input[type=number]:focus {
    outline: none;
    border: 1px solid #888;
    box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.4);
    border-radius: 2px;
}

button {
    border: 1px solid #a9a9a9;
    padding: 3px 5px 3px 5px;
    background: #f5f5f5;
    border-radius: 3px;
    background-image: -webkit-gradient(
       linear,
       left bottom,
       left top,
       color-stop(0.44, rgb(223,223,223)),
       color-stop(0.72, rgb(245,245,245))
    );
    -webkit-transition: all 0.2s ease-in-out;
}

button:active {
    background: #dfdfdf;
    background-image: -webkit-gradient(
       linear,
       left bottom,
       left top,
       color-stop(0.44, rgb(245,245,245)),
       color-stop(0.72, rgb(223,223,223))
    );
}

button:hover {
    border: 1px solid #7f7f7f;
}

/* Options
***************************************************************************************************/
p {
    line-height: 1.2em;
}

.option {
    display: block;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.option label {
    display: block;
    width: 18em;
    text-align: left;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.info {
    display: block;
    color: #aaa;
    font-style: italic;
    padding-top: 0.3em;
}

.required {
    color: #f00;
}

hr {
    border: none;
    height: 1px;
    background: #47ba04;
}

.notice {
    display: block;
    background: #f3f3f3;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 2em;
}

.option.checkbox input {
    margin-top: -0.5em;
}

.option.checkbox label {
    padding-left: 1.8em;
    margin-bottom: -1.5em;
}

.option.checkbox {
    margin-top: -0.8em;
}

/* Saved Popup
***************************************************************************************************/

#saved {
    position: fixed;
    top: 0.5em;
    left: 50%;
    width: 13em;
    height: 2.2em;
    margin-left: -6em;
    background: #47ba04;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    opacity: 0;

    -webkit-transition: all 0.2s ease-in-out;
}

#saved p {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 0.5em;
}

#saved.saved {
    opacity: 1;
}
